
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Movie Search</title>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script src="/static/js/detail.js"></script>
    <!-- 우리는 Bootstrap을 다운로드 방식이 아닌 CDN 방식으로 이용하려고 한다 -->
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
    <script src="/static/js/calculate.js"></script>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <!-- Custom styles for this template -->
<!--    <link href="/css/dashboard.css" rel="stylesheet">-->
</head>
<body>
<script>
    $(document).ready(detail_ajax('{{ park_post.p_idx }}'));
</script>
    <h1>{{ park_post.p_idx }}</h1>
    <h1 id="myParkname"></h1>
    <h3 id="myParkaddr"></h3>
    <p id="myParkcontents"></p>
    <p id="myParkequip"></p>
    <tbody></tbody>
    <img class="mainImg" />
    <br>
    <input type="button" value="방문댓글">
    <a href="{% url 'posts:write_post' park_post.p_idx %}">댓글쓰러가기</a>
    <br>
    {% for post in park_post.posts.all %}
        <div>
            <p>{{ post.author }}</p>
            <p> {{ post.starpoint }} / 5 </p>
            <p>{{ post.contents }}</p>
            <p>{{ post.images }}</p>
            {% if post.images %}
                <img src="{{ post.images.url }}" width="200" height="100" />
            {% endif %}
        </div>
    {% empty %}
        <p>아직 댓글이 없어요</p>
    {% endfor %}


</body>
</html>